<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Firebase and FirebaseUI CSS -->
    <!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <div class="screen active">
        <!-- Error Message Container -->
        <div id="error-message" class="error-message"></div>

        <div class="level-display">Level: <span id="level">{{ level }}</span></div>
        <img src="https://via.placeholder.com/200" class="profile-pic" id="profile-pic">
        <div class="progress-bar">
            <style>
                .progress {
                    width : {{ xp_value }}%
                }
            </style>
            <div class="progress" id="progress"></div>
        </div>

        <div class="task-sections">
            <div class="task-column">
                <h3>Daily Tasks</h3>
                <div class="task-list" data-category="daily">{% for task in daily_tasks %}
                    <div class="task-item">
                       <span class="task-icon">{{task['task-icon']}}</span>
                        <span class="task-name">{{task['task-name']}} </span>
                    </div>
                    {% endfor %}</div>
            </div>
            <div class="task-column">
                <h3>Special Tasks</h3>
                <div class="task-list" data-category="special">{% for task in special_tasks %}
                    <div class="task-item">
                       <span class="task-icon">{{task['task-icon']}}</span>
                        <span class="task-name">{{task['task-name']}} </span>
                    </div>
                    {% endfor %}</div>
            </div>
            <div class="task-column">
                <h3>Completed</h3>
                <div class="task-list" data-category="done"></div>
            </div>
        </div>
    </div>

    <div class="nav-tab">
        <a href="home" class="nav-button active">Home</a>
        <a href="social" class="nav-button">Social</a>
        <a href="profile" class="nav-button">Profile</a>
    </div>

    <script src="js/navigation.js"></script>
    <script src="js/home.js"></script>
</body>

</html>