<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GreenHero - Login</title>
  <!-- Firebase and FirebaseUI CSS -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='registry.css') }}">
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
  <!-- [START gae_python38_auth_include_firebaseui] -->
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <script>

    const firebaseConfig = {

      apiKey: "AIzaSyCZDjofeMRn4rJCSOt1aaBYflfdIS30ESw",

      authDomain: "naturehero.firebaseapp.com",

      projectId: "naturehero",

      storageBucket: "naturehero.firebasestorage.app",

      messagingSenderId: "545375618667",

      appId: "1:545375618667:web:e8dc5162a74f0c4b1e532e"

    };
    const app = firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();

    if (window.location.hostname === "localhost") {
      firebase.firestore().useEmulator("localhost", 8080); // Firestore emulator
      auth.useEmulator("http://localhost:9099"); // Authentication emulator
    }
  </script>
</head>

<body>
  <div class="screen active" id="register">
    <h1>Login</h1>
    <input type="email" id="emailInput" value="Email">
    <input type="password" id="passwordInput" value="Password">
    <button id="loginButton">Log In</button>
    <button id="signupButton">Sign Up</button>
    <button id="googleSignin">Sign In With Google</button>
  </div>
  <div hidden=true id="signout-container">
    <button id="sign-out">Sign Out</button>

  </div>

  <div id="login-info" hidden=false>
    
  </div>

<script>
  should_logout("{{logout_path}}")
</script>
</body>

</html>