<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FirebaseUI Auth Example</title>
  <!-- Firebase and FirebaseUI CSS -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
  <!-- [START gae_python38_auth_include_firebaseui] -->
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <script>
    const firebaseConfig = {

      apiKey: "AIzaSyCZDjofeMRn4rJCSOt1aaBYflfdIS30ESw",

      authDomain: "naturehero.firebaseapp.com",

      projectId: "naturehero",

      storageBucket: "naturehero.firebasestorage.app",

      messagingSenderId: "545375618667",

      appId: "1:545375618667:web:e8dc5162a74f0c4b1e532e"

    };
    const app = firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();
  </script>
</head>

<body>
  <h1>Test123</h1>

  <div hidden=true id="login-container">
    <button id="googleSignin">Sign In With Google</button>
    <input type="email" id="emailInput" value="Email">
    <input type="password" id="passwordInput" value="Password">
    <button id="signupButton">Sign Up</button>
    <button id="loginButton">Log In</button>
  </div>
  <div hidden=true id="signout-container">
    <button id="sign-out">Sign Out</button>

  </div>

  <div id="login-info" hidden=false>
    <h2>Login info:</h2>
    {% if user_data %}
    <dl>
      <dt>Name</dt>
      <dd>{{ user_data['name'] }}</dd>
      <dt>Email</dt>
      <dd>{{ user_data['email'] }}</dd>
      <dt>Last 10 visits</dt>
      <dd>
        {% for time in times %}
        <p>{{ time['timestamp'] }}</p>
        {% endfor %}
      </dd>
    </dl>
    {% elif error_message %}
    <p>Error: {{ error_message }}</p>
    {% endif %}
  </div>


</body>

</html>